@using Booktex.Domain.Util
<div class="hbb-layout-radio-container">
    @if(!Communications.CanPlayRadio) {
        <div class="hbb-layout-radio-content-overlay"></div>
    }
    <div class="hbb-layout-radio-content">
        <div class="hbb-layout-radio-display">
            @if(Communications.RadioIsOn ?? false) {
                <div class="radio-on-text">Radio is on</div>
            }
            else {
                <div class="radio-off-text">Radio is off</div>
            }
        </div>
        <div class="hbb-layout-radio-buttons-container">
            <button class="hbb-layout-radio-power-button @PowerButtonClass"
                    type="button"
                    @onclick="@(() => OnPowerClick())"
                    disabled="@(PlayerCanPlay ? null : "disabled")"></button>
            <button class="hbb-layout-radio-eject-button"
                    type="button"
                    disabled="@(PlayerCanEject ? null : "disabled" )"
                    @onclick="@(() => OnEjectClick())"></button>

        </div>
    </div>


</div>