@using Heartbreak.Boulevard.UI.Components.Board
@using Heartbreak.Boulevard.UI.Components.Chapter
@using Heartbreak.Boulevard.UI.Story
@inherits LayoutComponentBase

@if(_communications != null) {
    if(_session != null) {
    <CascadingValue Value="_communications">
        @if(_selectedPostIt != null) 
        {
            <div class="hbb-layout-postit">
                <PostItComponent Content="_selectedPostIt" IsInHand="true"></PostItComponent>
            </div>
        }
        <div class="page hbb-layout">
            <div class="hbb-layout-bg-images">
                <div class="hbb-layout-bg-image hbb-layout-bg-image-1"></div>
                <div class="hbb-layout-bg-image hbb-layout-bg-image-2"></div>
                <div class="hbb-layout-bg-image hbb-layout-bg-image-3"></div>
                <div class="hbb-layout-bg-image hbb-layout-bg-image-4"></div>
            </div>
            <div class="hbb-layout-topnav">
                <div class="hbb-layout-logo">
                    <button 
                        type="button"
                        class="hbb-layout-sm-logo-close-reader-button"
                        @onclick="@(() => CloseReader())"
                    ></button>
                </div>
                <div class="hbb-layout-sm-chapters-container">
                    <button 
                        type="button"
                        class="hbb-layout-sm-chapters-button"
                        @onclick="@(() => OnChaptersListButtonClicked())"
                    >
                    <p class="hbb-layout-sm-chapters-button-text">Chapters</p><i class="bi bi-list-check"></i>
                    </button>
                </div>
            </div>
            @if(_showChapterList) {
                <div class="hbb-layout-sm-chapter-list-container">
                        @foreach (var chap in _session.Chapters)
                        {
                            <button class="hbb-layout-chapters-chap"
                                    type="button"
                                    @onclick="@(() => OnChapterSelected(chap))"
                                    disabled="@(chap.Content == null ? "disabled" : null)">
                                @(chap.Specification.ChapterName)
                            </button>

                        }
                </div>
            }
            <div class="hbb-layout-row" @onclick="@(() => OnCloseClicked())">
                <div class="hbb-layout-sidenav" @onclick:stopPropagation>
                    <div class="hbb-layout-player @(PlayerEjectionClass)">
                        <SpotifyPlayerComponent InitDelay="(((_communications.RadioIsEjected ?? false) ? 1 : 2) *  TimeSpan.FromMilliseconds(500))"
                                                Height="1000"
                                                ExpandedWidth="250"
                                                ></SpotifyPlayerComponent>
                    </div>
                    <div class="hbb-layout-sidenav-top-decor"></div>
                    <div class="hbb-layout-sidenav-content">
                        <div class="hbb-layout-sidenav-radio-container"><CarRadioComponent></CarRadioComponent></div>

                        <div class="hbb-layout-sidenav-chapters-container">
                            <h1 class="hbb-layout-sidenav-chapters-header">CHAPTERS</h1>
                            <div class="hbb-layout-sidenav-chapters-list">
                                @foreach (var chap in _session.Chapters)
                                {
                                    <button class="hbb-layout-chapters-chap"
                                            type="button"
                                            @onclick="@(() => OnChapterSelected(chap))"
                                            disabled="@(chap.Content == null ? "disabled" : null)">
                                        @(chap.Specification.ChapterName)
                                    </button>

                                }
                            </div>
                        </div>

                    </div>
                    <div class="hbb-layout-sidenav-bottom-decor"></div>

                </div>
                @if (_communications?.CurrentChapterEntry?.Content != null)
                {
                    <div class="hbb-layout-chapter-above"></div>
                    <div class="hbb-layout-chapter-display-container" @onclick:stopPropagation>
                        <Booktex.Html.Story.StoryComponent Contents="_communications?.CurrentChapterEntry?.Content"
                                                           ChapterName="@(_communications?.CurrentChapterEntry?.Specification.ChapterName)"
                                                           BackgroundDeriver="QuoteBackgrounds.BackgroundFor">
                                                           <AdditionalContentRenderer Context="cont">
                                                               <AdditionalChapterContentComponent Content="cont"></AdditionalChapterContentComponent>
                                                           </AdditionalContentRenderer>
                        </Booktex.Html.Story.StoryComponent>
                    </div>

                }
                else
                {
                    <div class="hbb-layout-bg">
                        <div class="hbb-layout-lights-container">
                            <PoliceLightsComponent PositionLeft="-110%" PositionTop="-110%" ZIndex="4"></PoliceLightsComponent>
                            <PoliceLightsComponent PositionLeft="10%" PositionTop="10%" ZIndex="6"></PoliceLightsComponent>
                        </div>
                        <div class="hbb-layout-flash-container">
                            <HeartbreakBoulevardComponent></HeartbreakBoulevardComponent>
                        </div>

                        <main class="hbb-layout-main">
                            @if (_session != null)
                            {
                                <CascadingValue Value="_session">
                                    @Body
                                </CascadingValue>
                            }
                        </main>
                    </div>

                }
            </div>
        </div>

    </CascadingValue>
    }
}
