<div class="sundo-image-show-bg" @onclick="OnBackgroundClick">
    <div class="sundo-image-show-container" @onclick:stopPropagation>
        <div class="sundo-image-show-title-row">
            <h1 class="sundo-image-show-title">@Title</h1>
        </div>
        <div class="sundo-image-show-body" data-bs-theme="@(UseDarkMode ? "dark" : "light")">
            <div id="sundo-image-show-carousel" class="carousel slide @(UseDarkMode ? "carousel-dark" : "")">
                <div class="carousel-indicators">
                    @foreach(var (img, indx) in _images.Select((_,indx) => (_,indx)))
                    {
                        <button 
                            type="button" 
                                data-bs-target="#sundo-image-show-carousel" 
                                data-bs-slide-to="@indx" 
                                class="@(img == _currentImage ? "active" : null)"
                                aria-current="@(img == _currentImage)"
                                aria-label="Slide @(indx + 1)">
                            </button>
                    }
                </div>
                <div class="carousel-inner">
                    @foreach (var (img, indx) in _images.Select((_, indx) => (_, indx)))
                    {
                        <div class="carousel-item @(img == _currentImage ? "active" : null) sundo-image-show-item">
                            <img src="@img.Location" class="d-block sundo-image-show-img" alt="@img.Name" />
                            <div class="carousel-caption d-none d-md-block">
                                <h5>@img.Name</h5>
                            </div>
                        </div>
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#sundo-image-show-carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#sundo-image-show-carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

            </div>
        </div>
        <div class="sundo-image-show-bottom-row">
            <div class="sundo-image-show-bottom-buttons row">
                <button type="button" class="btn btn-outline-dark" @onclick="OnCloseClick">Close</button>
            </div>
        </div>
    </div>
    <script src="lib/bootstrap/js/bootstrap.bundle.js"></script>
</div>